<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Auto-Moto-Club Swissair Administration</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styles.css">
		<script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/skins/compact.css">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="//cdn.webix.com/components/sidebar/sidebar.css" type="text/css" media="screen" charset="utf-8">
		<script src="//cdn.webix.com/components/sidebar/sidebar.js" type="text/javascript" charset="utf-8"></script>
		<script>
// set all the necessary elements global


const topmenu_data = [
        {id:"home", value:"Home", icon:"webix_icon mdi mdi-home", href:"/"},
        {id:"1", value:"Mitglieder", icon:"webix_icon mdi mdi-account", 
            data:[
                {id:"11",value:"Mitglieder verwalten", href:"/grid"},
                {id:"12", value:"Mitglieder exportieren", href:""}
        ]},
        {id:"2", value:"Anlässe", icon:"webix_icon mdi mdi-timetable", 
            data:[
                {id:"21",value:"Anlässe buchen", href:""},
                {id:"22",value:"Anlässe verwalten", href:""}
        ]},
        {id:"3", value:"Info", icon:"webix_icon mdi mdi-information-variant" }
    ];

const footer_data = "@ Janine Franken 2020, GNU license.";

const top_toolbar = { view: "toolbar", padding:3, elements: [
    { view: "button", type: "icon", icon: "mdi mdi-menu",
        width: 37, align: "left", css: "app_button", click: function(){
            $$("sidebar").toggle();
        }
    },
	{ id: "top_label", view: "label", label: "AMC"}, {},
	{ id: "copyright", view: "label", label: footer_data, css:{ "text-align": "right", "font-style":"italic"}}
    ]};

const firstCol = 
        {
        cols: [ {
            view:"sidebar", id:"sidebar", data:topmenu_data, collapsed:false,
			arrow: function(obj) {
				var html = "";
				for (var i=1; i<=obj.$level; i++) {
					if (i==obj.$level && obj.$count) {
						var icon = "wxi-angle-"+(obj.open?"down":"left");
						var className = "webix_sidebar_dir_icon webix_icon "+ icon;
						html+="<span class='"+className+"'></span>";
					}
				}
				return html;
			},
			on:{
				onItemClick: function(id, e, node){
					webix.message("sidebar Click: " + id);
				}
			}
            }
        ]
        };

		</script>
   	</head>
	<body>
		<h1 class='header'>
			<a href="/">
			<div class="logo"></div>
			Auto-Moto-Club Swissair Administration</a>
			<a class='docs' href='http://www.automoto-sr.info' target="_blank">Homepage
			</a>
		</h1>
		<div class='webix_full_screen_webixapp'>
			<content class="center">{{{body}}}</content>
		</div>
	</body>
</html>
