<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Auto-Moto-Club Swissair Administration</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styles.css">
		<script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/skins/compact.css">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="//cdn.webix.com/components/sidebar/sidebar.css" type="text/css" media="screen" charset="utf-8">
		<script src="//cdn.webix.com/components/sidebar/sidebar.js" type="text/javascript" charset="utf-8"></script>
		<script src="/menu.js" type="text/javascript" charset="utf-8"></script>
   	</head>
	<body>
		<h1 class='header'>
			<a href="/">
			<div class="logo"></div>
			Auto-Moto-Club Swissair Administration</a>
			<a class='docs' href='http://www.automoto-sr.info' target="_blank">Homepage
			</a>
		</h1>
		<div class='webix_full_screen_webixapp'>
			<content class="center">{{{body}}}</content>
		</div>
	</body>
</html>
