<h2>Mitgliederliste </h2>
<div id='grid-container'></div>
<script>



function mark_boolean (value, config) {
	if (value.sam_mitglied == 1) {
		return "<span class='webix_icon wxi-check'></span>";
	} else {
		return "<span></span>";
	}
};

webix.i18n.parseFormat = "%c";
webix.i18n.setLocale();

var toolbar = {
	view:"toolbar", id:"adressen-toolbar",
	cols:[
		{ view:"button", value:"Add Row", width:120, click:function(){
			//$$("adresse-form").clear();
		}},
		{ view:"button", value:"Delete Row", width:120, click:function(){}},
		{ view:"button", value:"Edit Row", width:120, click:function(){
			//$$('adresse-form').save();
		}}
	]
};

var grid = {
	view:"datatable", id:"adressen-grid", 
	css:"webix_header_border webix_data_border", 
	select:true,
	height:800, scroll:true, 
	editable:false, 
	columns:[
		{ id:"id", css:{'text-align':'right'}, header:[{text:"MNR"},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"anrede_id", header:"Anrede", options:[
            { id:"1", value:"Herr" },
            { id:"2", value:"Frau" }], adjust:true},
		{ id:"name", header:[{text:"Name"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"vorname", header:[{text:"Vorname"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"adresse", header:[{text:"Adresse"},{content:"textFilter"}], adjust:true},
		{ id:"plz", header:[{text:"PLZ"},{content:"numberFilter"}], adjust:true},
		{ id:"ort", header:[{text:"Ort"},{content:"textFilter"}], adjust:true},
		{ id:"telefon_p", header:"Telefon (P)"},
		{ id:"mobile", header:"Mobile"},
		{ id:"email", header:"Email"},
		{ id:"notes", header:"Notizen"},
		{ id:"mnr_sam", header:[{text:"SAM Nr."},{content:"textFilter"}]},
		{ id:"sam_mitglied", header:[{text:"SAM Mitglied"},{content:"selectFilter"}], template:mark_boolean},		
		{ id:"vorstand", header:[{text:"Vorstand"},{content:"selectFilter"}], template:"{common.checkbox()}"},		
		{ id:"ehrenmitglied", header:[{text:"Ehrenmitglied"},{content:"selectFilter"}], template:"{common.checkbox()}"},		
		{ id:"revisor", header:[{text:"Revisor"},{content:"selectFilter"}], template:"{common.checkbox()}"},		
		{ id:"eintritt", header:[{text:"Eintritt"},{content:"dateFilter"}], sort:"date", format:webix.Date.dateToStr("%d.%m.%Y")},
		{ id:"austritt", header:[{text:"Austritt"},{content:"dateFilter"}], sort:"date", format:webix.Date.dateToStr("%d.%m.%Y")}
	],
	hover: "hoverline",
	sort:"multi",
	ready:function(){ 
      // apply sorting
      this.sort([{by:"name", dir:"asc"}, {by:"vorname", dir:"asc"}]);
      // mark columns
      this.markSorting("name", "asc", true);
      this.markSorting("vorname", "asc", true);
    },
  url:"/grid/data"
};


webix.ui({
	width:1200, 
	container:"grid-container",
	rows:[ 
		toolbar,	
      	grid
	]
});


</script>