
<script>

function mark_sam_mitglied (value, config) {
	return mark_boolean(value.sam_mitglied);
};

function mark_ehrenmitglied (value, config) {
	return mark_boolean(value.ehrenmitglied);
};

function mark_vorstand (value, config) {
	return mark_boolean(value.vorstand);
};

function mark_revisor (value, config) {
	return mark_boolean(value.revisor);
};

function mark_allianz (value, config) {
	return mark_boolean(value.allianz);
};

function mark_boolean (value) {
	if (value == 1) {
		return "<span class='webix_icon mdi mdi-checkbox-marked'></span>";
	} else {
		return "<span class='webix_icon mdi mdi-checkbox-blank-outline'></span>";
	}
};

function show_geworben (value, config) {
	if (value.adressenId != "" && value.adressenId != null ) {
		return value.adressenId;
	} else return "";
};

function save_form (id) {
	var form = $$(id).getFormView();
	if (form.isDirty()) {
		if (form.validate()) {
			var values = form.getValues();
			if (values.mnr == "") {
				console.info('save_form insert: ',values);
				$$('adressen-grid').add(values);
				$$('adresse-win').hide();
				$$("adressen-grid").load("/grid/data");
			} else {
				console.info('save_form update: ',values);
				$$('adressen-grid').updateItem(values.id, values);
				$$('adresse-win').hide();
				$$("adressen-grid").load("/grid/data");
			}
		} else {
			webix.message({type:"error", text:"Nicht alle Mussfelder sind ausgefüllt oder falsches Format"});
		}
	} else {
		$$('adresse-win').hide();
		webix.message({type:"info", text:"Keine Änderungen vorgenommen"});
	}
};

function reloadGrid(){
	var state = $$("adressen-grid").getState();
	var sort = state.sort
	if (sort == null) {
		sort = [{by:"name", dir:"asc"},{by:"vorname", dir:"asc"}];
	}
	console.info("reloadGrid: ", sort);
	$$("adressen-grid").clearAll();
	$$("adressen-grid").load($$("adressen-grid").config.url);
	$$("adressen-grid").sort(sort);
};

function addMember() {
	$$("adressen-grid").unselectAll();			
	$$("labelhead").define("label","Neues Mitglied hinzufügen");
	$$("labelhead").refresh();
	$$("adresse-win").show();
	$$("adresse-form").elements.name.focus();
};

function mutMember() {
	var data = $$('adressen-grid').getSelectedItem();
	if (data == null) {
		webix.message({type:"error", text:"Keine Zeile ausgewählt zum Ändern"});
		return;
	}
	$$("labelhead").define("label","Mitglied <" + data.mnr + "> ändern");
	$$("labelhead").refresh();
	$$('adresse-win').show();
	$$("adresse-form").elements.name.focus();
};

function delMember() {
	var values = $$('adressen-grid').getSelectedItem();
	if (values == null) {
		webix.message({type:"error", text:"Keine Zeile ausgewählt zum Löschen"});
		return;
	}
	$$('adressen-grid').remove(values.id, values);
	reloadGrid();
};

const deLocale = webix.i18n.locales["de-DE"];
deLocale.dateFormat = "%d.%m.%Y";
deLocale.parseFormat = "%c";
webix.i18n.locales["de-DE"] = deLocale;
webix.i18n.setLocale("de-DE");


var toolbar = {
	view:"toolbar", id:"adressen-toolbar", autowidth: true,
	cols:[
		{ view:"button", value:"Neues Mitglied", click:addMember },
		{ view:"button", value:"Mitglied mutieren", click:mutMember},
		{ view:"button", value:"Mitglidschaft beenden", click:delMember},
		{ view:"button", id:"count_adr", value:"Anzahl ", click:function() { 
			reloadGrid();
		}}
	]
};

webix.ui({
	view:"window", id:"adresse-win",
	width:800,
	//height:700, 
	autofit:true,
	resize:true,
	move:true,
	close:true,
	position:"center",
	modal:true,
	head:{
		view:"toolbar", margin:-4,  cols:[
      	{ view:"label", label: "Neues Mitglied hinzufügen", id:"labelhead", css:{'text-align':'center'} }
		]
	},
	body:{
		view:"form", id:"adresse-form",
		elements:[
			{ readonly:true, view:"text", name:"mnr", label:"MNR", hidden:true },
			{margin:5,cols:[
				{ view:"combo", 
						options:[{ id:"1", value:"männlich" }, { id:"2", value:"weiblich" }], 
						name:"geschlecht", label:"Geschlecht" },
				{ view:"text", name:"name", label:"<span class='webix_label_right'>Name</span>" },
				{ view:"text", name:"vorname", label:"Vorname<span class='webix_icon mdi mdi-star-outline'></span>" }				
			]},
			{margin:5,cols:[
			{ view:"text", name:"adresse", label:"Adresse<span class='webix_icon mdi mdi-star-outline'></span>" },
			{ view:"text", width:150, name:"plz", label:"PLZ<span class='webix_icon mdi mdi-star-outline'></span>" },
			{ view:"text", name:"ort", label:"Ort<span class='webix_icon mdi mdi-star-outline'></span>" },
			{ view:"combo", 
						options:[{ id:"CH", value:"Schweiz" }, { id:"DE", value:"Deutschland" }], 
						name:"land", label:"Land" }
			]},
			{margin:5,cols: [
			{ view:"text", name:"telefon_p", label:"Telefon" },
			{ view:"text", name:"mobile", label:"Mobile" },
			{ view:"text", name:"email", label:"Email(s)" }
			]},
			{ view:"textarea", name:"notes", label:"Notizen" },
			{margin:5,cols:[
			{ view:"text", type:"number", name:"mnr_sam", label:"SAM Nr." },
			{ view:"checkbox", name:"sam_mitglied", label:"SAM Mitglied", width:300 },
			{ view:"checkbox", name:"ehrenmitglied", label:"Ehrenmitglied", width:300 }
			]},
			{margin:5,cols:[
			{ view:"checkbox", name:"vorstand", label:"Vorstand" },
			{ view:"checkbox", name:"revisor", label:"Revisor" }
			]},
			{margin:5,cols:[
			{ view:"datepicker", name:"eintritt", label:"Eintritt" },
			{ view:"datepicker", name:"austritt", label:"Austritt" }
			]},
			{ view:"combo", suggest:"/data/getFkData", name:"adressenId", label:"Geworben von" },
			{margin:5,cols:[
				{view:"button", value:"Sichern", css:"webix_primary", click:save_form},
				{view:"button", value:"Abbrechen", click:function(id) {
					$$('adresse-win').hide();
					}
				}
			]}
		],
		rules:{
			//"email":webix.rules.isEmail,
			"name":webix.rules.isNotEmpty,
			"vorname":webix.rules.isNotEmpty,
			"adresse":webix.rules.isNotEmpty,
			"plz":webix.rules.isNotEmpty,
			"plz":webix.rules.isNumber,
			"ort":webix.rules.isNotEmpty
		}
	}
});


var grid = {
	view:"datatable", id:"adressen-grid", 
	css:"webix_header_border webix_data_border", 
	select:true, autofit:true,
	resizeColumn: { headerOnly:true},
	scroll:true, 
	editable:false, 
	headermenu:{
		data: [
		{ id:"mobile", value:"Mobile"},
		{ id:"email", value:"Email"},
		{ id:"notes", value:"Notizen"},
		{ id:"mnr_sam", value:"SAM Nr."},
		{ id:"sam_mitglied", value:"SAM Mitglied"},		
		{ id:"ehrenmitglied", value:"Ehrenmitglied"},		
		{ id:"vorstand", value:"Vorstand"},		
		{ id:"revisor", value:"Revisor"},		
		{ id:"allianz", value:"Allianz"},		
		{ id:"eintritt", value:"Eintritt"},
		{ id:"austritt", value:"Austritt"},
		{ id:"adressenId", value:"Geworben von"}
		]
	},
	defaultData: {geschlecht: "1", land: "CH", sam_mitglied:"1"},	
	columns:[
		{ id:"mnr", css:{'text-align':'right'}, header:[{text:"MNR"},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"geschlecht", header:[{text:"Geschlecht"}], options:[
            { id:"1", value:"M" },
            { id:"2", value:"W" }], adjust:true},
		{ id:"name", header:[{text:"Name"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"vorname", header:[{text:"Vorname"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"adresse", header:[{text:"Adresse"},{content:"textFilter"}], adjust:true},
		{ id:"plz", header:[{text:"PLZ"},{content:"numberFilter"}], adjust:true},
		{ id:"ort", header:[{text:"Ort"},{content:"textFilter"}], adjust:true},
		{ id:"land", header:[{text:"Land"},{content:"textFilter"}], adjust:true},
		{ id:"telefon_p", header:"Telefon (P)"},
		{ id:"mobile", header:"Mobile"},
		{ id:"email", header:"Email"},
		{ id:"notes", header:"Notizen", hidden:true},
		{ id:"mnr_sam", css:{'text-align':'right'}, header:[{text:"SAM Nr."},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"sam_mitglied", css:{'text-align':'center'}, header:[{text:"SAM Mitglied"},{content:"selectFilter"}], sort:"text", template:mark_sam_mitglied},		
		{ id:"ehrenmitglied", css:{'text-align':'center'},header:[{text:"Ehrenmitglied"},{content:"selectFilter"}], sort:"text", template:mark_ehrenmitglied},		
		{ id:"vorstand", css:{'text-align':'center'},header:[{text:"Vorstand"},{content:"selectFilter"}], sort:"text", template:mark_vorstand, hidden:true},		
		{ id:"revisor", css:{'text-align':'center'},header:[{text:"Revisor"},{content:"selectFilter"}], sort:"text", template:mark_revisor, hidden:true},		
		{ id:"allianz", css:{'text-align':'center'},header:[{text:"Allianz"},{content:"selectFilter"}], sort:"text", template:mark_allianz, hidden:true},		
		{ id:"eintritt", header:[{text:"Eintritt"},{content:"textFilter"}], sort:"string", adjust:true, template:function(obj){return new Date(obj.eintritt).getFullYear();}, hidden:true},
		{ id:"austritt", header:[{text:"Austritt"},{content:"textFilter"}], sort:"string", adjust:true, template:function(obj){return new Date(obj.austritt).getFullYear();}, hidden:true},
		{ id:"adressenId", header:[{text:"Geworben von"},{content:"selectFilter"}], sort:"text", adjust:"header", template:show_geworben, hidden:true}
	],
	hover: "hoverline",
	sort:"multi",
	ready:function(){
		this.sort([
			{ by:"name", dir:"asc" }, 
			{ by:"vorname", dir:"asc" }
			]);
		this.markSorting("name", "asc");
		this.markSorting("vorname", "asc", true);
	},
  on:{
    onBeforeLoad:function(){
      this.showOverlay("Loading...");
    },
    onAfterLoad:function(){
      this.hideOverlay();
	  //console.info(this.count());
	  $$("count_adr").setValue("Anzahl " + this.count());	  
    }
  },
  url:"/grid/data",
  save:"rest->/grid/data"
  
};

const dataarea = webix.ui({
	type:"wide",
    rows: [ top_toolbar,
        {cols: [ firstCol,
			{id:"detail", rows: [ toolbar, grid	] }
		]}
	]
});

$$("top_label").setValue("Mitglieder verwalten");
$$("sidebar").open("1");
$$("sidebar").select("11");
$$("sidebar").collapse();

var contextmenu = webix.ui({
  view:"contextmenu",
  id:"cmenu", autowidth: true,
  data:[{id:"add", value:"Neues Mitglied"},
  		{id:"mut", value:"Mitglied bearbeiten"},
  		{id:"del", value:"Mitgliedschaft beenden"},
		{id:"col", value:"Spalten auswählen"}
	],
  on:{
    onMenuItemClick:function(id){
      var context = this.getContext();	  
      var list = context.obj;
      var listId = context.id.row;
	  var listItem = list.getItem(listId);
	  switch (id) {
			case "add":
		  		addMember();
				break;
			case "mut":
			  	list.select(listId);
				mutMember();
				break;
			case "del":
	  			list.select(listId);
				delMember();
				break;
			case "col":
				showMenu(this.$view);
				break;
	  };
    }
  }
});

//show the headermenu by API
function showMenu(node){
    var menu = $$("adressen-grid").config.headermenu;
    $$(menu).show(node);
};

$$("cmenu").attachTo($$("adressen-grid"));

$$('adresse-form').bind($$('adressen-grid'));

webix.event(window, "resize", function(){dataarea.adjust()});

</script>