<h3>Mitgliederliste </h3>
<div id='grid-container'></div>
<script>

function mark_sam_mitglied (value, config) {
	return mark_boolean(value.sam_mitglied);
};

function mark_ehrenmitglied (value, config) {
	return mark_boolean(value.ehrenmitglied);
};

function mark_vorstand (value, config) {
	return mark_boolean(value.vorstand);
};

function mark_revisor (value, config) {
	return mark_boolean(value.revisor);
};

function mark_allianz (value, config) {
	return mark_boolean(value.allianz);
};

function mark_boolean (value) {
	if (value == 1) {
		return "<span class='webix_icon mdi mdi-checkbox-marked'></span>";
	} else {
		return "<span class='webix_icon mdi mdi-checkbox-blank-outline'></span>";
	}
};

function show_geworben (value, config) {
	if (value.adressenId != "" && value.adressenId != null ) {
		return value.adressenId;
	} else return "";
};


function save_form (id) {
	var form = $$(id).getFormView();
	if (form.isDirty()) {
		if (form.validate()) {
			var values = form.getValues();
			console.info('save_form ',values);
			if (values.id == "") {
				$$('adressen-grid').add(values);
				$$('adresse-win').hide();
			} else {
				$$('adressen-grid').updateItem(values.id, values);
				$$('adresse-win').hide();
			}
		} else {
			webix.message({type:"error", text:"Nicht alle Mussfelder sind ausgefüllt"});
		}
	} else {
		$$('adresse-win').hide();
		webix.message({type:"info", text:"Keine Änderungen vorgenommen"});
	}
};

const deLocale = webix.i18n.locales["de-DE"];
deLocale.dateFormat = "%d.%m.%Y";
deLocale.parseFormat = "%c";
webix.i18n.locales["de-DE"] = deLocale;
webix.i18n.setLocale("de-DE");


var toolbar = {
	view:"toolbar", id:"adressen-toolbar",
	cols:[
		{ view:"button", value:"Add Row", width:120, click:function(){
			$$("adressen-grid").clearSelection();
			$$("adresse-win").show();
			$$("adresse-form").elements.name.focus();
		}},
		{ view:"button", value:"Delete Row", width:120, click:function(){
			var values = $$('adressen-grid').getSelectedItem();
			$$('adressen-grid').remove(values.id, values);
		}},
		{ view:"button", value:"Edit Row", width:120, click:function(){
			$$('adresse-win').show();
			$$("adresse-form").elements.name.focus();
		}},
		{ view:"button", id:"count_adr", value:"Anzahl ", width:120, click:function() { 
			//$$('adressen-grid').clearAll(true);
			$$("adressen-grid").load("/grid/data");
		}}
	]
};

webix.ui({
	view:"window", id:"adresse-win",
	width:700,
	//height:700, 
	autofit:true,
	resize:true,
	move:true,
	close:true,
	position:"center",
	modal:true,
	head:"Mitglied ändern",
	body:{
		view:"form", id:"adresse-form",
		elements:[
			{ readonly:true, view:"text", name:"mnr", label:"MNR", hidden:true },
			{margin:5,cols:[
				{ view:"combo", 
						options:[{ id:"1", value:"Herr" }, { id:"2", value:"Frau" }], 
						name:"anredeId", label:"Anrede" },
				{ view:"text", name:"name", label:"Name <span class='webix_icon mdi mdi-star-outline'></span>" },
				{ view:"text", name:"vorname", label:"Vorname <span class='webix_icon mdi mdi-star-outline'></span>" }				
			]},
			{margin:5,cols:[
			{ view:"text", name:"adresse", label:"Adresse <span class='webix_icon mdi mdi-star-outline'></span>" },
			{ view:"text", width:"200", name:"plz", label:"PLZ <span class='webix_icon mdi mdi-star-outline'></span>" },
			{ view:"text", name:"ort", label:"Ort <span class='webix_icon mdi mdi-star-outline'></span>" }
			]},
			{margin:5,cols: [
			{ view:"text", name:"telefon_p", label:"Telefon" },
			{ view:"text", name:"mobile", label:"Mobile" },
			{ view:"text", name:"email", label:"Email(s) <span class='webix_icon mdi mdi-star-outline'></span>" }
			]},
			{ view:"textarea", name:"notes", label:"Notizen" },
			{margin:5,cols:[
			{ view:"text", type:"number", name:"mnr_sam", label:"SAM Nr." },
			{ view:"checkbox", name:"sam_mitglied", label:"SAM Mitglied" },
			{ view:"checkbox", name:"ehrenmitglied", label:"Ehrenmitglied" }
			]},
			{margin:5,cols:[
			{ view:"checkbox", name:"vorstand", label:"Vorstand" },
			{ view:"checkbox", name:"revisor", label:"Revisor" }
			]},
			{margin:5,cols:[
			{ view:"datepicker", name:"eintritt", label:"Eintritt" },
			{ view:"datepicker", name:"austritt", label:"Austritt" }
			]},
			{ view:"combo", suggest:"/data/getFkData", name:"adressenId", label:"Geworben von" },
			{margin:5,cols:[
				{view:"button", value:"Sichern", css:"webix_primary", click:save_form},
				{view:"button", value:"Abbrechen", click:function(id) {
					$$('adresse-win').hide();
					}
				}
			]}
		],
		rules:{
			"email":webix.rules.isEmail,
			"email":webix.rules.isNotEmpty,
			"name":webix.rules.isNotEmpty,
			"vorname":webix.rules.isNotEmpty,
			"adresse":webix.rules.isNotEmpty,
			"plz":webix.rules.isNotEmpty,
			"plz":webix.rules.isNumber,
			"ort":webix.rules.isNotEmpty
		}
	}
});


var grid = {
	view:"datatable", id:"adressen-grid", 
	css:"webix_header_border webix_data_border", 
	select:true, autofit:true,
	resizeColumn: { headerOnly:true},
	scroll:true, 
	editable:true, 
	columns:[
		{ id:"mnr", css:{'text-align':'right'}, header:[{text:"MNR"},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"anredeId", header:"Anrede", options:[
            { id:"1", value:"Herr" },
            { id:"2", value:"Frau" }], adjust:true},
		{ id:"name", header:[{text:"Name"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"vorname", header:[{text:"Vorname"},{content:"textFilter"}], sort:"string", adjust:true},
		{ id:"adresse", header:[{text:"Adresse"},{content:"textFilter"}], adjust:true},
		{ id:"plz", header:[{text:"PLZ"},{content:"numberFilter"}], adjust:true},
		{ id:"ort", header:[{text:"Ort"},{content:"textFilter"}], adjust:true},
		{ id:"telefon_p", header:"Telefon (P)"},
		{ id:"mobile", header:"Mobile"},
		{ id:"email", header:"Email"},
		{ id:"notes", header:"Notizen"},
		{ id:"mnr_sam", css:{'text-align':'right'}, header:[{text:"SAM Nr."},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"sam_mitglied", css:{'text-align':'center'}, header:[{text:"SAM Mitglied"},{content:"selectFilter"}], template:mark_sam_mitglied},		
		{ id:"ehrenmitglied", css:{'text-align':'center'},header:[{text:"Ehrenmitglied"},{content:"selectFilter"}], template:mark_ehrenmitglied},		
		{ id:"vorstand", css:{'text-align':'center'},header:[{text:"Vorstand"},{content:"selectFilter"}], template:mark_vorstand},		
		{ id:"revisor", css:{'text-align':'center'},header:[{text:"Revisor"},{content:"selectFilter"}], template:mark_revisor},		
		{ id:"allianz", css:{'text-align':'center'},header:[{text:"Allianz"},{content:"selectFilter"}], template:mark_allianz},		
		{ id:"eintritt", header:[{text:"Eintritt"},{content:"textFilter"}], sort:"string", adjust:true, template:function(obj){return new Date(obj.eintritt).getFullYear();}},
		{ id:"austritt", header:[{text:"Austritt"},{content:"textFilter"}], sort:"string", adjust:true, template:function(obj){return new Date(obj.austritt).getFullYear();}},
		{ id:"adressenId", header:[{text:"Geworben von"},{content:"selectFilter"}], sort:"text", adjust:"header", template:show_geworben}
	],
	hover: "hoverline",
	sort:"multi",
	ready:function(){ 
      // apply sorting
      this.sort([{by:"name", dir:"asc"}, {by:"vorname", dir:"asc"}]);
      // mark columns
      this.markSorting("name", "asc", true);
      this.markSorting("vorname", "asc", true);
    },
  on:{
    onBeforeLoad:function(){
      this.showOverlay("Loading...");
    },
    onAfterLoad:function(){
      this.hideOverlay();
	  console.info(Adressen);
	  toolbar.elements.count_adr.value = "Anzahl " + Adressen.count();
    }
  },
  url:"/grid/data",
  save:"rest->/grid/data"
  
};


const dataarea = webix.ui({	 
	container:"grid-container",
	autofit:true,
	width:1200, height:550,
	rows:[ 
		toolbar,	
      	grid
	]
});

$$('adresse-form').bind($$('adressen-grid'));

webix.event(window, "resize", function(){dataarea.adjust()});

</script>