<h2>Mitgliederliste</h2>
<div id='grid-container'></div>
<script>

webix.i18n.parseFormat = "%c";
webix.i18n.setLocale();

var toolbar = {
	view:"toolbar", id:"adressen-toolbar",
	cols:[
		{ view:"button", value:"Add Row", width:120, click:function(){
			$$("adresse-form").clear();
		}},
		{ view:"button", value:"Delete Row", width:120, click:delete_row},
		{ view:"button", value:"Save Row", width:120, click:function(){
			$$('adresse-form').save();
		}}
	]
};

var grid = {
	view:"datatable", id:"adressen-grid", 
	css:"webix_header_border webix_data_border", 
	select:true,
	height:800, scroll:true, 
	editable:false, 
	columns:[
		{ id:"id", css:{'text-align':'right'}, header:[{text:"MNR"},{content:"numberFilter"}], sort:"int", adjust:true},
		{ id:"anrede_id", header:"Anrede", options:[
            { id:"1", value:"Herr" },
            { id:"2", value:"Frau" }], editor:"richselect", adjust:true},
		{ id:"name", header:[{text:"Name"},{content:"textFilter"}], sort:"string", editor:"text", adjust:true},
		{ id:"vorname", header:[{text:"Vorame"},{content:"textFilter"}], sort:"string", editor:"text", adjust:true},
		{ id:"adresse", header:[{text:"Adresse"},{content:"textFilter"}], editor:"text", adjust:true},
		{ id:"plz", header:[{text:"PLZ"},{content:"numberFilter"}], editor:"text", adjust:true},
		{ id:"ort", header:[{text:"Ort"},{content:"textFilter"}], editor:"text", adjust:true},
		{ id:"telefon_p", header:"Telefon (P)", editor:"text"},
		{ id:"mobile", header:"Mobile", editor:"text"},
		{ id:"email", header:"Email", editor:"text"},
		{ id:"notes", header:"Notizen", editor:"text"},
		{ id:"mnr_sam", header:[{text:"SAM Nr."},{content:"textFilter"}], editor:"text"},
		{ id:"sam_mitglied", header:[{text:"SAM Mitglied"},{content:"selectFilter"}], template:"{common.checkbox()}", editor:"checkbox"},		
		{ id:"vorstand", header:[{text:"Vorstand"},{content:"selectFilter"}], template:"{common.checkbox()}", editor:"checkbox"},		
		{ id:"ehrenmitglied", header:[{text:"Ehrenmitglied"},{content:"selectFilter"}], template:"{common.checkbox()}", editor:"checkbox"},		
		{ id:"revisor", header:[{text:"Revisor"},{content:"selectFilter"}], template:"{common.checkbox()}", editor:"checkbox"},		
		{ id:"eintritt", header:[{text:"Eintritt"},{content:"dateFilter"}], sort:"date", format:webix.Date.dateToStr("%d.%m.%Y"), map:"(date)", editor:"date"},
		{ id:"austritt", header:[{text:"Austritt"},{content:"dateFilter"}], sort:"date", format:webix.Date.dateToStr("%d.%m.%Y"), map:"(date)", editor:"date"}
	],
	hover: "hoverline",
	sort:"multi",
	ready:function(){ 
      // apply sorting
      this.sort([{by:"name", dir:"asc"}, {by:"vorname", dir:"asc"}]);
      // mark columns
      this.markSorting("name", "asc", true);
      this.markSorting("vorname", "asc", true);
    },
  url:"/grid/data"
};

var form = {
  view:"form", id:"adresse-form", scroll:true,
  elements:[
	{cols:[
		{ rows:[{ readonly:true, view:"text", name:"id", label:"MNR" },
    			{ view:"combo", 
				options:[{ id:"1", value:"Herr" }, { id:"2", value:"Frau" }], 
				name:"anrede_id", label:"Anrede" }] },
		{ rows:[{ view:"text", name:"name", label:"Name" },
    			{ view:"text", name:"vorname", label:"Vorname" }]}
	]},
    { view:"text", name:"adresse", label:"Adresse" },
	{cols:[
    { view:"text", width:"200", type:"number", name:"plz", label:"PLZ" },
    { view:"text", name:"ort", label:"Ort" }
	]},
    { view:"text", name:"telefon_p", label:"Telefon" },
    { view:"text", name:"mobile", label:"Mobile" },
    { view:"text", name:"email", label:"Email" },
    { view:"textarea", name:"notes", label:"Notizen" },
	{cols:[
    { view:"text", type:"number", name:"mnr_sam", label:"SAM Nr." },
    { view:"checkbox", name:"sam_mitglied", label:"SAM Mitglied" },
    { view:"checkbox", name:"ehrenmitglied", label:"Ehrenmitglied" }
	]},
	{cols:[
    { view:"checkbox", name:"vorstand", label:"Vorstand" },
    { view:"checkbox", name:"revisor", label:"Revisor" }
	]},
	{cols:[
    { view:"datepicker", format:webix.Date.dateToStr("%d.%m.%Y"), name:"eintritt", label:"Eintritt" },
    { view:"datepicker", format:webix.Date.dateToStr("%d.%m.%Y"), name:"austritt", label:"Austritt" }
	]}
  ]
};

webix.ui({
	width:1200, 
	container:"grid-container",
	rows:[ 
		toolbar,	
      	{ cols:[ grid, form ] }
	]
});

$$('adresse-form').bind('adressen-grid');

var dp = new webix.DataProcessor({
  master: $$('adressen-grid'),
  url:"rest->/grid/data"
});

function delete_row() {
  const id = $$("adressen-grid").getSelectedId();
  if (id)
    webix.confirm({
      title: "Delete",// the text of the box header
      text: "Are you sure you want to delete the selected item?",// the text of the body
      callback: function(result) { //callback function that will be called on the button click. The result is true or false subject to the clicked button.
        if (result) {
          $$("adressen-grid").remove(id);
        }
      }
    });
  else
    webix.message("Select a film","debug");
};

</script>