<script>
    const hometext = "<p>Hier kannst Du die Daten von Auto-Moto-Club Swissair administrieren.</p>" +
"<br><br>";

const dataarea = webix.ui({
	type:"wide",
    rows: [ top_toolbar,
            {cols: [ firstCol,
                    { template:hometext}                     
	        ]}
	]
});

$$("top_label").setValue("AMC Verwaltung");
$$("sidebar").select("home");

</script>
