<script>
    const hometext = "<p>Hier kannst Du die Daten von Auto-Moto-Club Swissair administrieren.</p>" +
"<br><br>";

//var menu = require("/menu");

const dataarea = webix.ui({
	type:"wide",
    rows: [ menu.getToolbar(),
            {cols: [ firstCol,
                    { template:hometext}                     
	        ]}
	]
});

$$("top_label").setValue("AMC Verwaltung");
$$("sidebar").select("home");

</script>
