/* Background color of side menuu. */
.cssSideMenu .webix_view {
  background-color : #efeff3;
}

/* Sizing and coloring of sidemenu items. */
.cssSideMenu .webix_list_item {
  line-height : 35px;
  border-bottom-color : #d0d0d0;
}

/* Make shadow of windows extend in all directions and be more pronounced than the default. */
.webix_window {
  box-shadow : 0 0 40px #202020;
}
.inactiveLine {
  color: brown;
	font-style: italic;
}

.custom{
  font-weight: bold;
  cursor:pointer;
}
.checked{
  color:green;
}
.notchecked{
  color:lightgray;
}

.markedbox{
  background-color: rgb(37, 15, 56);
}

.event_maxsize{
  font-size: 20px;
}

.hidden {
	display: none;
  }

  .open .webix_inp_static,.webix_list_item.open { 
  	background:#ddf7dd; 
  }
  .prov-closed .webix_inp_static,.webix_list_item.prov-closed { 
  	background:#ffffe0; 
  }
  .closed .webix_inp_static,.webix_list_item.closed { 
  	background:#fdbebe; 
  }
  .webix_list_item.webix_selected {
  	color:black;
  	font-weight:bold
  }