/* Sizing and coloring of sidemenu items. */
.cssSideMenu {
  line-height : 35px;
  border-bottom-color : #9c9ca3;
}

/* Make shadow of windows extend in all directions and be more pronounced than the default. */
.webix_window {
  box-shadow : 0 0 40px #202020;
}
.inactiveLine {
  color: brown;
	font-style: italic;
}

.webix_sidebar {
  background: #3498db;
}
.webix_sidebar .webix_tree_item {
  color: #fff;
}

.webix_chart {
  background-color: #666666;
  color: #ffffff;
}
.webix_canvas_text {
  color: #fff;
}
.webix_chart_legend_item {
  color: #fff;
}
.webix_axis_item_y {
  margin-top: 0px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  left: 20px !important;
  background-color: #666666;
  color: #fff;
}
.webix_axis_item_x {
  color: #fff;
}
.webix_axis_title_x {
  color: #fff;
}
.webix_axis_title_y {
  color: #fff;
}

.custom{
  font-weight: bold;
  cursor:pointer;
}
.checked{
  color:green;
}
.notchecked{
  color:lightgray;
}

.markedbox{
  background-color: rgb(37, 15, 56);
}

.event_maxsize{
  font-size: 20px;
}

.hidden {
	display: none;
  }

.small {
  font-size: small;
}

  .open .webix_inp_static, .webix_list_item.open { 
  	background:#91e991; 
  }
  .prov-closed .webix_inp_static,.webix_list_item.prov-closed { 
  	background:#fafaac; 
  }
  .closed .webix_inp_static,.webix_list_item.closed { 
  	background:#fdbebe; 
  }
  .open { 
  	background:#91e991; 
  }
  .prov-closed { 
  	background:#fafaac; 
  }
  .closed { 
  	background:#fdbebe; 
  }
  .webix_list_item.webix_selected {
  	color:black;
  	font-weight:bold
  }
.inactive {
  font-style: italic;
  color:rgb(202, 202, 202);
}

.logoutMenu {
  padding-top: 1cm;
}
.loggedinUser {
  padding-bottom: 1cm;
}