/* Background color of side menuu. */
.cssSideMenu .webix_view {
  background-color : #efeff3;
}

/* Sizing and coloring of sidemenu items. */
.cssSideMenu .webix_list_item {
  line-height : 35px;
  border-bottom-color : #d0d0d0;
}

/* Make shadow of windows extend in all directions and be more pronounced than the default. */
.webix_window {
  box-shadow : 0 0 40px #202020;
}
.inactiveLine {
  color: lightgrey;
	font-style: italic;
}

.custom{
  font-weight: bold;
  cursor:pointer;
}
.checked{
  color:green;
}
.notchecked{
  color:lightgray;
}

.markedbox{
  background-color: rgb(37, 15, 56);
}

.event_maxsize{
  font-size: 20px;
}
.hidden {
  /* display: none; */
  font-style: italic;
}
